<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="home.example.board.repository.imageArch.ImageMapper">
    <select id="selectImageList"
            parameterType="list"
            resultType="home.example.board.domain.Image">
        SELECT
            image_id,
            post_id,
            image_url,
            image_index,
            thumb_url,
            status,
            fetched_at
        FROM external_post_image
        WHERE post_id in
        <foreach item="postId" index="index" collection="postIds" open="(" separator="," close=")">
            #{postId}
        </foreach>
        order by image_id
    </select>
</mapper>