<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="home.example.board.repository.CommentMapper">

    <insert id="insertComment"
            parameterType="home.example.board.domain.Comment">
        INSERT INTO comment
            (post_seq, content, parent_comment_seq, user_seq)
        VALUES
            (#{post_seq}, #{content}, #{parent_comment_seq}, #{user_seq})
    </insert>

    <select id="selectComments" parameterType="long"
        resultType="home.example.board.DTO.CommentDTO">
        <![CDATA[
        WITH RECURSIVE cte_comment AS (
            SELECT
                c.comment_seq,
                IF(c.delete_flag > 0, 'delete comment', c.content ) as content,
                c.parent_comment_seq,
                c.insert_ts,
                c.user_seq,
                -- CAST(LEFT((SELECT user_nickname FROM user WHERE user_seq = c.user_seq), 8) AS CHAR(8)) AS user_name,
                CAST(LPAD(c.comment_seq, 5, '0') AS CHAR(1024)) AS sort_path,
                -- CAST('' AS CHAR(8)) AS p_user_name,
                CAST(NULL as UNSIGNED) AS p_user_seq,
                (SELECT count(*) FROM comment_like WHERE comment_like.comment_seq = c.comment_seq AND like_type = 1) AS like_cnt,
                (SELECT count(*) FROM comment_like WHERE comment_like.comment_seq = c.comment_seq AND like_type = 0) AS dislike_cnt
            FROM comment c
            WHERE c.post_seq = #{post_seq} AND c.parent_comment_seq IS NULL

            UNION ALL

            SELECT
                c.comment_seq,
                IF(c.delete_flag > 0, 'delete comment', c.content ) as content,
                c.parent_comment_seq,
                c.insert_ts,
                c.user_seq,
                -- CAST(LEFT((SELECT user_nickname FROM user WHERE user_seq = c.user_seq), 8) AS CHAR(8)) AS user_name,
                CONCAT(cc.sort_path, '-', LPAD(c.comment_seq, 5, '0')) AS sort_path,
                -- CAST(LEFT((SELECT user_nickname FROM user WHERE user_seq = cc.user_seq), 8) AS CHAR(8)) AS p_user_name,
                CAST(cc.user_seq AS UNSIGNED) AS p_user_seq,
                (SELECT count(*) FROM comment_like WHERE comment_like.comment_seq = c.comment_seq AND like_type = 1) AS like_cnt,
                (SELECT count(*) FROM comment_like WHERE comment_like.comment_seq = c.comment_seq AND like_type = 0) AS dislike_cnt
            FROM comment c
                     JOIN cte_comment cc ON c.parent_comment_seq = cc.comment_seq
        )
        SELECT * FROM cte_comment
        ORDER BY sort_path;
        ]]>
    </select>

    <select id="selectComment"
            parameterType="long"
            resultType="home.example.board.domain.Comment">
        select
            comment_seq,
            post_seq,
            content,
            insert_ts,
            delete_ts,
            delete_flag,
            parent_comment_seq,
            user_seq
        from comment
        where
            comment_seq = #{comment_seq}
    </select>

    <update id="updateComment"
            parameterType="home.example.board.domain.Comment">
        update comment
            set content = #{content}
        where
            comment_seq = #{comment_seq}
    </update>

    <update id="deleteComment"
            parameterType="long">
        update comment
            set
                delete_flag = 1,
                delete_ts = now()
        where
            comment_seq = #{comment_seq}
    </update>
</mapper>