<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="home.example.board.repository.SubjectMapper">
    <select id="getSubjectListUseN" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'N'
    </select>

    <select id="getSubjectList" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        where
            use_yn = 'Y'
    </select>

    <select id="getSubject"
            parameterType="long"
            resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            subject_seq = #{subject_seq}
        and
            use_yn = 'Y'
    </select>

    <select id="getSiblingSubjectList" parameterType="long" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'Y'
            and (
            subject_seq = #{subject_seq}
                or
            subject_seq in (SELECT subject_seq FROM subject where parent_subject_seq = #{subject_seq})
                or
            parent_subject_seq = (SELECT parent_subject_seq FROM subject WHERE subject_seq = #{subject_seq})
            )
    </select>

    <select id="getParentsSubjectList" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'Y' and
            (parent_subject_seq is null or parent_subject_seq = 0)
    </select>

    <select id="getChildSubjectList" parameterType="long" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'Y' and
            parent_subject_seq = #{parent_subject_seq}
    </select>

    <select id="getSubjectAllBySeq" parameterType="long" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'Y' and
            (subject_seq = #{subject_seq} or parent_subject_seq = #{subject_seq})
    </select>

    <select id="getSubjectByName" parameterType="string" resultType="home.example.board.domain.Subject">
        SELECT
            subject_seq,
            subject_name,
            insert_ts,
            parent_subject_seq,
            use_yn
        FROM
            subject
        WHERE
            use_yn = 'Y' and
            subject_name = #{subject_name}
    </select>
</mapper>