<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="home.example.board.repository.UserMapper">
    <select id="getUserBySeq" parameterType="long"
            resultType="home.example.board.domain.User">
        select
            user_seq,
            user_name,
            user_pw,
            user_email,
            user_nickname,
            insert_ts,
            role,
            delete_flag,
            delete_ts,
            force_password_change
        from user
        where user_seq = #{user_seq}
    </select>

    <select id="getUserBySeqList" parameterType="java.util.List"
            resultType="home.example.board.domain.User">
        select
            user_seq,
            user_name,
            user_pw,
            user_email,
            user_nickname,
            insert_ts,
            role,
            delete_flag,
            delete_ts,
            force_password_change
        from user
        where user_seq in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="addUser" parameterType="home.example.board.domain.User">
        INSERT INTO user
            (user_name, user_pw, user_email, user_nickname)
        VALUES
            (#{user_name}, #{user_pw}, #{user_email}, #{user_nickname})
    </insert>

    <select id="getUser" parameterType="String"
            resultType="home.example.board.domain.User">
        select
            user_seq,
            user_name,
            user_pw,
            user_email,
            user_nickname,
            insert_ts,
            role,
            delete_flag,
            delete_ts,
            force_password_change
        from user
        where user_name = #{user_name}
    </select>

    <select id="getUserAll"
            resultType="home.example.board.domain.User">
        select
            user_seq,
            user_name,
            user_pw,
            user_email,
            user_nickname,
            insert_ts,
            role,
            delete_flag,
            delete_ts,
            force_password_change
        from user
    </select>

    <update id="updateUserInfo"
            parameterType="home.example.board.domain.User">
        update user
            set user_name = #{user_name},
                user_pw = #{user_pw},
                user_email = #{user_email},
                user_nickname = #{user_nickname},
                role = #{role}
            where
                user_seq = #{user_seq}
    </update>

    <update id="resetUserPw"
            parameterType="home.example.board.domain.User">
        update user
            set user_pw = #{user_pw},
                force_password_change = 1
            where
                user_seq = #{user_seq}
    </update>
</mapper>